!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title DrillMaster
    %link{:rel => "stylesheet", :href => "/app.css", :type => "text/css", :media => "all"}
  %body
    .content
      = yield
