%br
- if student.on_plate
  %table
    %tr
      %td.progress.corrner &nbsp;
      - 4.times do |i|
        %td.progress{:class => student.progress > i ? 'passed' : 'pending'} &nbsp;
      %td.progress.corrner &nbsp;
    %tr
      %td.progress{:class => student.progress > 13 ? 'passed' : 'pending'} &nbsp;
      %td.task{:colspan => 4, :rowspan => 3}
        %h1
          Next:
          = student.on_plate.name
        %form{:action => '/done', :method => :post}
          %input{:type => 'submit', :name => 'submit', :value => 'I have finished!'}
      %td.progress{:class => student.progress > 4 ? 'passed' : 'pending'} &nbsp;
    %tr
      %td.progress{:class => student.progress > 12 ? 'passed' : 'pending'} &nbsp;
      %td.progress{:class => student.progress > 5 ? 'passed' : 'pending'} &nbsp;
    %tr
      %td.progress{:class => student.progress > 11 ? 'passed' : 'pending'} &nbsp;
      %td.progress{:class => student.progress > 6 ? 'passed' : 'pending'} &nbsp;
    %tr
      %td.progress.corrner &nbsp;
      - 4.times do |i|
        %td.progress{:class => student.progress > 10 - i ? 'passed' : 'pending'} &nbsp;
      %td.progress.corrner &nbsp;
- else
  You do not have any exercises

