body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #669;
  background-position: center top;
  background-color: #ddd;
  margin: 20px;
  padding: 0; }

.workout {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 175px;
  width: 600px;
  background-color: white; }

.stars {
  padding: 10px;
  border-radius: 20px;
  margin: 5px auto;
  width: 600px;
  background-color: white; }

.workout table {
  border-spacing: 0; }

.workout input[type="submit"] {
  border: 0px;
  color: #33c;
  cursor: pointer;
  font-size: 1em;
  background-color: #fff; }

.workout .progress {
  width : 100px;
  height: 100px; 
  border-radius: 50px; }

.workout .passed {
  background-color: #6f9;
}

.workout .pending {
  background-color: #ddd;
}

.wworkout .corner {
}

.workout .task {
}

.workout .notice {
  color: #f33;
  font-weight: bold;
  font-size: 1.5em;
}

